<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moyan.dao.PermissionMapper">
    <insert id="savePermission"></insert>
    <update id="updatePermission"></update>
    <delete id="deletePermission"></delete>
    <select id="queryAllPermission" resultType="com.moyan.domain.Permission"></select>
    <select id="queryPermissionById" resultType="com.moyan.domain.Permission"></select>
</mapper>